.fade-in {
    opacity: 0;
    animation: fadeInAnimation 2s forwards;
}
@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}

body{
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-family:Verdana;
}

.outBox {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
}

.list{
    margin: 5px;
    padding: 5px;
    background: #e7e7e7;
    border-radius: 4px    
}

.background{
    width: 65%;
    margin: auto;
    overflow: hidden;
}

h2,h4,h3,p{
    font-family: verdana;
    color: #333;
}

.LeftBox div {
    float: left;
    margin: 5px;
    padding: 5px;
    background: #e7e7e7;
    border-radius: 4px
}